In [1]:
import pandas as pd

C:\Users\Atharva\AppData\Local\Temp\ipykernel_256\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv("../24/forestfires.csv")
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [3]:
df['area'].mean()

12.847292069632493

In [4]:
notaffected=df[df['area']==0]

In [5]:
mostaffected=df[df['area']>13]

In [6]:
partiallyaffected=df[(df['area']<=13)& (df['area']  > 0 ) ]

In [7]:
merge=pd.concat([mostaffected,partiallyaffected])
merge

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
202  7  4   feb  sun  83.9    8.7   32.1   2.1   8.8  68   2.2   0.0  13.05
203  8  6   oct  wed  91.4   37.9  673.8   5.2  20.2  37   2.7   0.0  13.70
204  5  6   mar  sat  90.6   50.1  100.4   7.8  15.1  64   4.0   0.0  13.99
205  4  5   sep  thu  92.9  137.0  706.4   9.2  22.1  34   1.8   0.0  14.57
206  2  2   aug  sat  93.5  139.4  594.2  20.3  22.9  31   7.2   0.0  15.45
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16

[270 rows x 13 columns]

In [9]:
sort=df.sort_values("temp")
sort

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
280  4  6   dec  fri  84.7   26.7  352.6   4.1   2.2  59   4.9   0.0   9.27
282  6  3   feb  sun  84.9   27.5  353.5   3.4   4.2  51   4.0   0.0   0.00
279  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0   9.77
278  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  22.03
277  3  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  10.73
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0  26.43
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54

[517 rows x 13 columns]

In [11]:
transpose=df.transpose()
transpose

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
X,7,7,7,8,8,8,8,8,8,7,...,2,1,5,6,8,4,2,7,1,6
Y,5,4,4,6,6,6,6,6,6,5,...,4,2,4,5,6,3,4,4,4,3
month,mar,oct,oct,mar,mar,aug,aug,aug,sep,sep,...,aug,aug,aug,aug,aug,aug,aug,aug,aug,nov
day,fri,tue,sat,fri,sun,sun,mon,mon,tue,sat,...,fri,fri,fri,fri,sun,sun,sun,sun,sat,tue
FFMC,86.2,90.6,90.6,91.7,89.3,92.3,92.3,91.5,91.0,92.5,...,91.0,91.0,91.0,91.0,81.6,81.6,81.6,81.6,94.4,79.5
DMC,26.2,35.4,43.7,33.3,51.3,85.3,88.9,145.4,129.5,88.0,...,166.9,166.9,166.9,166.9,56.7,56.7,56.7,56.7,146.0,3.0
DC,94.3,669.1,686.9,77.5,102.2,488.0,495.6,608.2,692.6,698.6,...,752.6,752.6,752.6,752.6,665.6,665.6,665.6,665.6,614.7,106.7
ISI,5.1,6.7,6.7,9.0,9.6,14.7,8.5,10.7,7.0,7.1,...,7.1,7.1,7.1,7.1,1.9,1.9,1.9,1.9,11.3,1.1
temp,8.2,18.0,14.6,8.3,11.4,22.2,24.1,8.0,13.1,22.8,...,25.9,25.9,21.1,18.2,27.8,27.8,21.9,21.2,25.6,11.8
RH,51,33,33,97,99,29,27,86,63,40,...,41,41,71,62,35,32,71,70,42,31
wind,6.7,0.9,1.3,4.0,1.8,5.4,3.1,2.2,5.4,4.0,...,3.6,3.6,7.6,5.4,2.7,2.7,5.8,6.7,4.0,4.5
rain,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.17,0.43,0.0,6.44,54.29,11.16,0.0,0.0

In [13]:
melt=pd.melt(df,id_vars=['area'],value_vars=['temp'])
melt

      area variable  value
0     0.00     temp    8.2
1     0.00     temp   18.0
2     0.00     temp   14.6
3     0.00     temp    8.3
4     0.00     temp   11.4
..     ...      ...    ...
512   6.44     temp   27.8
513  54.29     temp   21.9
514  11.16     temp   21.2
515   0.00     temp   25.6
516   0.00     temp   11.8

[517 rows x 3 columns]

In [14]:
cast=pd.pivot_table(df,index=['month'],columns='area',values='rain')
cast

area,0.00,0.09,0.17,0.21,0.24,0.33,0.36,0.41,0.43,0.47,...,105.66,154.88,174.63,185.76,196.48,200.94,212.88,278.53,746.28,1090.84
month,,,,,,,,,,,,,,,,,,,,,
apr,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aug,0.035294,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN
dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feb,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jan,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jul,0.014286,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
jun,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mar,0.005714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
may,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nov,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
oct,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sep,0.000000,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0