In [2]:
import pandas as pd

C:\Users\Atharva\AppData\Local\Temp\ipykernel_12616\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:

column=['Class','AGE','SEX','STEROID','ANTIVIRALS','FATIGUE','MALAISE','ANOREXIA','LIVER BIG','LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK PHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']
df=pd.read_csv("../25/hepatitis.csv",names=column)
df.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [4]:
import numpy as np
df.replace('?', np.nan, inplace=True)

In [5]:
df = df.apply(pd.to_numeric, errors='ignore')

C:\Users\Atharva\AppData\Local\Temp\ipykernel_12616\1277559549.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

In [6]:
df.dtypes

Class                int64
AGE                  int64
SEX                  int64
STEROID            float64
ANTIVIRALS           int64
FATIGUE            float64
MALAISE            float64
ANOREXIA           float64
LIVER BIG          float64
LIVER FIRM         float64
SPLEEN PALPABLE    float64
SPIDERS            float64
ASCITES            float64
VARICES            float64
BILIRUBIN          float64
ALK PHOSPHATE      float64
SGOT               float64
ALBUMIN            float64
PROTIME            float64
HISTOLOGY            int64
dtype: object

In [7]:
column_means = df.mean()
df.fillna(column_means, inplace=True)

In [8]:
df.isnull().sum().sum()

0

In [9]:
df.isna().sum().sum()

0

In [10]:
df1=df[df['SEX']==1]
df2=df[df['SEX']==2]

In [11]:
merged_subset = pd.concat([df1, df2])
merged_subset

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,50,1,1.000000,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.000000,42.0,3.500000,61.852273,1
2,2,78,1,2.000000,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.000000,32.0,4.000000,61.852273,1
3,2,31,1,1.506494,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.000000,52.0,4.000000,80.000000,1
4,2,34,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,105.325397,200.0,4.000000,61.852273,1
5,2,34,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.000000,28.0,4.000000,75.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2,62,2,2.000000,2,1.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.3,141.000000,156.0,3.900000,58.000000,1
90,2,50,2,1.000000,2,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,0.9,230.000000,117.0,3.400000,41.000000,2
115,2,69,2,2.000000,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.2,119.000000,136.0,3.817266,61.852273,2
125,2,34,2,2.000000,2,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,0.7,70.000000,24.0,4.100000,100.000000,2
153,2,53,2,1.000000,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.000000,19.0,4.100000,48.000000,2

In [12]:
sort=df.sort_values(by=['AGE','SGOT','PROTIME'])
sort

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
110,2,7,1,2.0,2,2.0,2.0,2.0,2.000000,1.000000,1.0,2.00,2.000000,2.00,0.7,256.0,25.0,4.200000,61.852273,2
37,2,20,2,1.0,2,1.0,1.0,1.0,1.000000,1.000000,1.0,1.00,2.000000,2.00,2.3,150.0,68.0,3.900000,61.852273,1
121,2,20,1,1.0,2,1.0,1.0,1.0,2.000000,2.000000,2.0,1.00,1.000000,2.00,1.0,160.0,118.0,2.900000,23.000000,2
148,2,20,1,1.0,2,2.0,2.0,2.0,2.000000,1.583333,2.0,2.00,2.000000,2.00,0.9,89.0,152.0,4.000000,61.852273,2
20,2,22,2,2.0,1,1.0,2.0,2.0,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.9,48.0,20.0,4.200000,64.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2,67,2,1.0,2,1.0,1.0,2.0,2.000000,2.000000,1.8,1.66,1.866667,1.88,1.5,179.0,69.0,2.900000,61.852273,1
115,2,69,2,2.0,2,1.0,2.0,2.0,2.000000,2.000000,2.0,2.00,2.000000,2.00,3.2,119.0,136.0,3.817266,61.852273,2
147,1,70,1,1.0,2,1.0,1.0,1.0,1.827586,1.583333,1.8,1.66,1.866667,1.88,1.7,109.0,528.0,2.800000,35.000000,2
133,2,72,1,2.0,1,1.0,2.0,2.0,2.000000,1.000000,2.0,2.00,2.000000,2.00,1.0,115.0,52.0,3.400000,50.000000,2
2,2,78,1,2.0,2,1.0,2.0,2.0,2.000000,2.000000,2.0,2.00,2.000000,2.00,0.7,96.0,32.0,4.000000,61.852273,1

In [13]:
transpose=df.transpose()
transpose

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
Class,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.0,1.0
AGE,30.000000,50.000000,78.000000,31.000000,34.000000,34.0,51.000000,23.000000,39.000000,30.000000,...,31.0,41.000000,70.000000,20.000000,36.000000,46.000000,44.000000,61.000000,53.0,43.0
SEX,2.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.0,1.0
STEROID,1.000000,1.000000,2.000000,1.506494,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,1.0,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.0,2.0
ANTIVIRALS,2.000000,2.000000,2.000000,1.000000,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.0
FATIGUE,2.000000,1.000000,1.000000,2.000000,2.000000,2.0,1.000000,2.000000,1.000000,2.000000,...,1.0,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.0,1.0
MALAISE,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.0,2.0
ANOREXIA,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.0,2.0
LIVER BIG,1.000000,1.000000,2.000000,2.000000,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,1.827586,2.000000,2.000000,2.000000,2.000000,1.000000,2.0,2.0
LIVER FIRM,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.000000,2.000000,1.000000,2.000000,...,2.0,1.000000,1.583333,1.583333,2.000000,2.000000,1.000000,1.000000,2.0,2.0
SPLEEN PALPABLE,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,1.800000,2.000000,2.000000,2.000000,2.000000,2.000000,1.0,1.0
SPIDERS,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,1.660000,2.000000,2.000000,1.000000,2.000000,1.000000,1.0,1.0
ASCITES,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,2.000000,1.866667,2.000000,2.000000,1.000000,2.000000,2.000000,2.0,1.0
VARICES,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,...,2.0,1.000000,1.880000,2.000000,2.000000,1.000000,2.000000,2.000000,1.0,2.0
BILIRUBIN,1.000000,0.900000,0.700000,0.700000,1.000000,0.9,1.427517,1.000000,0.700000,1.000000,...,1.2,4.200000,1.700000,0.900000,0.600000,7.600000,0.900000,0.800000,1.5,1.2
ALK PHOSPHATE,85.000000,135.000000,96.000000,46.000000,105.325397,95.0,105.325397,105.325397,105.325397,105.325397,...,75.0,65.000000,109.000000,89.000000,120.000000,105.325397,126.000000,75.000000,81.0,100.0
SGOT,18.000000,42.000000,32.000000,52.000000,200.000000,28.0,85.894040,85.894040,48.000000,120.000000,...,173.0,120.000000,528.000000,152.000000,30.000000,242.000000,142.000000,20.000000,19.0,19.0
ALBUMIN,4.000000,3.500000,4.000000,4.000000,4.000000,4.0,3.817266,3.817266,4.400000,3.900000,...,4.2,3.400000,2.800000,4.000000,4.000000,3.300000,4.300000,4.100000,4.1,3.1
PROTIME,61.852273,61.852273,61.852273,80.000000,61.852273,75.0,61.852273,61.852273,61.852273,61.852273,...,54.0,61.852273,35.000000,61.852273,61.852273,50.000000,61.852273,61.852273,48.0,42.0
HISTOLOGY,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.0

In [16]:
melt=pd.melt(df,id_vars=['AGE','Class'],var_name="Attribute")
melt

      AGE  Class  Attribute  value
0      30      2        SEX    2.0
1      50      2        SEX    1.0
2      78      2        SEX    1.0
3      31      2        SEX    1.0
4      34      2        SEX    1.0
...   ...    ...        ...    ...
2785   46      1  HISTOLOGY    2.0
2786   44      2  HISTOLOGY    2.0
2787   61      2  HISTOLOGY    2.0
2788   53      2  HISTOLOGY    2.0
2789   43      1  HISTOLOGY    2.0

[2790 rows x 4 columns]

In [17]:
cast=pd.pivot_table(df,index=['Class','AGE'],values='HISTOLOGY')
cast

           HISTOLOGY
Class AGE
1     30         2.0
      31         2.0
      33         2.0
      34         1.0
      35         2.0
...              ...
2     66         1.0
      67         1.0
      69         2.0
      72         2.0
      78         1.0

[71 rows x 1 columns]